@font-face{
    font-family: 'Lemon Milk';
    src: url("fonts/lemon_milk/LEMONMILK-Bold.woff2") format('woff2');
  }
  
@font-face {
    font-family: 'Inter';
    src: url("fonts/inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Avenir';
    src: url("fonts/avenir/AvenirLTStd-Roman.woff2") format("woff2");
}
@font-face {
    font-family: 'Walter';
    src: url("fonts/walter_turncoat/WalterTurncoat-Regular.woff2") format("woff2");
}

html, body{
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Lemon Milk', Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
}

.header{
    background-image: url("images/header_background.png");
    object-fit: cover;
    padding: 70px 0px;
}
.header_images{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-height: 300px;
}

.specs_logo{
    height:260px;
    width: auto;
}

.header_x{
    color: white;
    font-family: 'Walter', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 30px 0 20px;
}

.fortes_logo{
    height: 230px;
    width: auto;
}

.hero{
    background-color: #D55638;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    max-height: 100vh;
}

.description{
    padding: 65px 50px;
}

.description_text{
    font-size: 2rem;
}

.damon_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.asset_header{
    margin: 0;
    padding: 0 0 75px 0;
}
.user_personas{
    background-color: #4DB0BE;
    color: white;
    padding: 105px 50px;
}

.user_persona_images{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.user_persona_image{
    width: 100%;
}

.journey_map{
    background-color: #4A54A8;
    color: white;
    padding: 105px 50px;
}

.journey_map_image{
    width: 100%;
}

.style_sheet{
    background-color: #DEDEDD;
    color: black;
    padding: 105px 50px;
}

.style_sheet_image{
    width: 100%;
}

.mood_board{
    background-color: #F36871;
    color: white;
    padding: 105px 50px;
}

.mood_board_image{
    width: 100%;
}

.critical_path{
    background-color: #DEDEDD;
    color: black;
    padding: 105px 50px;
}

.figma_embed{
    width: 100%;
    min-height: 600px;
}

footer{
    align-items: center;
    background-color: #DEDEDD;
    border: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    height: 100px;
    justify-items: center;
    justify-content: center;
    justify-self: flex-end;
  }

@media (max-width: 880px){
    .hero_image, .damon_image{
        display: none;
    }

    .specs_logo{
        height:150px;
        width: auto;
    }
    
    .fortes_logo{
        height: 130px;
    }
}