:root {
    --fresh-yellow: #F4B029;
    --fresh-red:#D55638;
    --fresh-blue:#214962;
    --fresh-bluegrey:#3C4D4D;
    --fresh-grey:#333333;
}
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(images/chalkboard-bg.png);
    background-size: cover;
    background-color: var(--fresh-grey);
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    font-family: Lexend Deca;
}
/* button styles */
button {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: Lexend Deca;
    padding: .5rem;
    width: fit-content;
    transition: .2s ease-in;
}
.lightButton {
    color: var(--fresh-red);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.47);
    min-width: 152px;
}
.darkButton {
    color: white;
    background-color: var(--fresh-grey);
    min-width: 152px;
}
.activeButton {
    color: white;
    background-color: var(--fresh-red);
    min-width: 152px;
}
.borderButton {
    background-color: transparent;
    border: 3px solid #F4B029;
    border-radius: 25px;
    color: white;
}
/* ---------- General Elements -----------*/

.getCentered {
    display: flex;
    justify-content: center;
}
.whiteBackground{
    background-color: white;
}

/* Menu Item Display */
.menu_item {
    cursor: pointer;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 30% 40% 30%;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 13px;
    width: 361px;
    height: 123px;
    margin: 1rem auto;
}
.menu_item img {
    grid-column: 1/1;
    grid-row: 1/4;
    width: 100px;
}

.menu_item div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Page Headers on Mobile */
.pageHeader{
    display: flex;
    align-items: center;
    background-color: var(--fresh-yellow);
    border-radius: 0px 0px 10px 10px;
    height: 127px;
    justify-content: center;
    margin-bottom: 2rem;
}
.backArrow {
    position: absolute;
    left: 8%;
    font-size: 34px;
}
.headerLogo {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 100px;
}
/* Text Styles */
.homeHeader {
    font-family: Lexend Deca;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.homeEmphasis{
    font-family: Lexend Deca;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}
.home_p {
    font-family: Lexend Deca;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.ctaButton{
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.chalkHeading {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    margin: auto 1rem;
}
.pageTitle {
    font-family: Lexend Deca;
    font-weight: 800;
    font-size: 24px;
}
.Subheading {
    color: var(--fresh-yellow);
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 1rem;
}
.itemTitle {
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 800;
}
.itemListing {
font-family: Lexend Deca;
font-size: 16px;
font-weight: 700;
}
.description {
font-family: Lexend Deca;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.subtext {
    font-size: 12px;
    margin: 0 1rem;
    color: white;
}
.price {
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
}
.placeholderText {
    color: #8e8e8e;
}
.ctaLink{
    color: var(--fresh-red);
    font-family: Lexend Deca;
    font-size: 15px;
    text-decoration: underline;
    margin: 1rem auto;
}
/* Navigation, Referenced code: https://codepen.io/havardob/pen/RwWKaor?editors=1100 */
.menu {
    background-color: #333333;
    border-top: 8px solid white;
	display: flex;
	flex-grow: 1;
	height: 108px;
	width: 100%;
	overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
  }
  .nav-item:focus .material-icons, .nav-item:hover .material-icons {
    color: var(--fresh-yellow);
  }
  .menu-nav:focus .nav-item-label, .nav-item:hover .nav-item-label {
    color: var(--fresh-yellow);
  }

.material-icons {
	display: block;
	margin-bottom: 4px;
	font-size: 26px;
	color: white;
	transition: 0.25s ease;
}
.nav-item-label {
    font-family: Lexend Deca;
	display: block;
	font-size: 13px;
	color: white;
	transition: 0.25s ease;
}
.navAllowance{
    height: 116px;
    margin: 1rem;
}

.longDiv {
    border-top: 1px solid var(--fresh-yellow);
    height: 2px;
    margin: 1rem auto;
    width: 100%;
}
.yellowDiv {
    border-top: 1px solid var(--fresh-yellow);
    height: 2px;
    margin: 1rem auto;
    width: 80%;
}
.whiteDiv {
    background-color: white;
    height: 1px;
    width: 100%;
}
/* home screen styles */
.home_start {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
    /* background-color: black; */
}
.home_start_button {
    position: absolute;
    width: 175px;
    left: 196px;
    top: 449px;
    z-index: 10;
}
.home_logo {
    align-self: center;
    z-index: 10;
    width: 100%;
    max-width: 450px;
}

.home_botmDiv { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 24% 35% 10%;
    background-color: var(--fresh-red);
    color: white;
    height: 393px;
    justify-self: center;
    overflow: hidden;
    padding: 1rem;
    z-index: 5;
    justify-content: end;
    align-items: center;
}
.home_botmDiv h3 {
    grid-column: 1/3;
    justify-self: end;
    align-self: flex-end;
}
.home_burgerGraphic {
    overflow: hidden;
    width: 375px;
}

.home_botmDiv img {
    grid-column: 1/1;
    grid-row: 2/4;
}
.home_botmDiv button {
    grid-column: 2/2;
}
.home_wwdDiv{
    color:white;
    text-align: center;
    padding: 1rem;
    height: 514px;
}
.home_wwdDiv h1 {
    font-family: 'Permanent Marker', cursive;
    margin: 0rem;
}
.home_wwdHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.yellowBar {
    height: 1px;
    background-color: var(--fresh-yellow);
    width: 88.5px;
    margin: .5rem;
}

.bubble::after {
    content:'';
    border-radius: 0px 0px 500px 500px;
    position: absolute;
    bottom: -10;
    left: 0%;
    height: 50px;
    width:100%;
    background-image: url(images/chalkboard-bg.png);
    z-index: 5;
}

/* Location styles*/
.location_popup {
    background-color: white;
    width: 100%;
    height: 420px;
    position: fixed;
    top: 60%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 25px 25px 0 0;
}
hr {
    border-top: 5px solid black; 
    border-radius: 5px;
    width: 70%; 
    height: auto; 
}
.location_h2 {
    text-align: center;
    width: 100%;
    margin: 25px 0 10px; 
}
.home_locationGraphic {
    display: block;
    margin: 0 auto; 
    height: auto;
    font-size: 30px;
}
.home_locationDiv {
    background-color: var(--fresh-yellow);
    border-radius: 30px;
    margin: 0 auto;
    padding: .5rem;
    width: fit-content;
}
.location_h1 {
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 15px 45px; 
}
.location_continue_button {
    background-color: var(--fresh-red);
    color: white; 
    width: 154px;
    height: 50px;
    display: block;
    margin: 0 auto; 
}
.location_change {
    text-decoration: underline;
    margin: 0 auto; 
    display: block;
    padding: 20px 0 20px; 
}  
.location_popup2 {
    background-color: white;
    width: 100%;
  /* transform: translate(-50%, -50%);
  z-index: 999;  */
    border-radius: 25px 25px 0 0;
}
.chalkHeading-dark {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    text-align: center;
}
.location-map {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    margin: 15px 0; 
}
.truck-option {
    display: flex; 
    cursor: pointer;
    flex-flow: row nowrap;
    padding: 20px; 
    border: solid 3px black; 
    margin: 20px; 
    border-radius: 25px;
}
.truck-option:focus {
    border: solid 3px var(--fresh-red); 
  }
.truck-icon {
    padding: 10px; 
    width: 40%; 
    height: auto; 
}
.location2_h2 {
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin: 15px 30px 15px 15px; 
}
.location-distance {
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
    color: black;
    display: block;
}
.location_startorder_button {
    margin-bottom: 150px; 
}


/* Menu styles */
.menu_QuickScroll {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
}
.menu_QuickScroll a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_QuickScroll span {
    background-color: var(--fresh-red);
    border-radius: 34px;
    color: white;
    padding: .5rem;
    text-align: center;
    width: 78px;
}
.scrollIcon {
    color:white;
    display: block;
	margin-bottom: 4px;
	font-size: 36px;
	transition: 0.25s ease
}
.viewFavorites {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    font-size: 20px;
    padding: 1rem;
}
.viewFavorites iconify-icon {
    font-size: 20px;
    margin: auto .5rem;
}
/* Customization Screen */
.customize_itemDisplay {
    display: grid;
    justify-items: center;
    overflow: hidden;
}
.customize_itemTitle {
    color: white;
}
.customize_itemImage {
    width: 150px;
}
.itemImage {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.toppingCarousel {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 margin: 2rem;
 overflow: hidden;
}
.topping {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 5px solid #D55638;
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem;
    height: 50px;
    width: 50px;
    margin: .2rem;
}
.topping img {
    width: 55px;
}
.customize_productDescription{
    margin: auto auto 2rem;
    color: white;
}
.customize_price {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--fresh-red);
    width: 100%;
    height: 105px;
}
.customize_price button {
    width: 154px;
    height: 45px;
}
.customize_price p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
/* Cart Styles */
.cart_totalDiv {
    display: flex;
    flex-direction: column;
}
.cart_totalDiv button {
    align-self: end;
    margin: 0 1rem;
}
.cart_total {
   color: #FFFFFF;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 2rem;
    font-family: 'Lexend Deca';
    font-weight: 700;
    font-size: 24px;
}
.cart_quickAdd {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem;
}
.quickAddBlock {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    /* height: 115px; */
    width: 165px;
    margin: 1rem;
}
.quickAddBlock img {
    grid-column: 1/3;
    margin: .5rem 0;
}
.quickAddBlock iconify-icon{
    font-size: 20px;
 }
.quickAddBlock div {
    font-family: 'Lexend Deca';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   grid-row: 2/2;
   background-color: var(--fresh-yellow);
   border-radius: 0 0 15px 15px ;
   cursor: pointer;
   width: 165px;
}
.payButton {
    margin: .5rem 0 2rem;
}
/* Checkout Styles */
.checkout_totalDiv {
    display: grid;
    padding: 1rem;
}
.tipBar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 11px;
    cursor: pointer;
    justify-content: space-between;
    justify-self: end;
    height: 41px;
    margin: 0 1rem;
    width: 264px;
}
.tipBar h4 {
    background-color: var(--fresh-red);
    border-radius: 0 11px 11px 0;
    color: white;
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: .5rem;
}
.tipBar p {
    margin: 0;
    padding: .7rem .5rem;
}
.tipSelect {
    background-color: var(--fresh-yellow);
    font-weight: 800;
    border-radius:  11px 0 0 11px ;
    border: 2px solid black;
}
.checkout_tipTotal {
    color: white;
    display: flex;
    justify-content: space-between;
}
.checkout_total {
    color: white;
    display: flex;
    justify-content: end;
}

.checkout_total p {
    font-size: 23px;
    font-weight: 700;
    margin: 1rem;
}
.checkout_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    height: 60px;
    margin: 1rem auto 0;
    padding: 0 1rem;
    width: 280px;
}

.checkout_pickupLocation {
    color: white;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50% 50%;
    height: 150px;
}

.checkout_locationName {
    align-self: center;
    margin: 1rem 0 -3.5rem;
}
.checkout_pickupLocation .yellowDiv {
    grid-row: 2/2;
    grid-column: 1/3;
}

.checkout_pickupLocation iconify-icon {
    align-self: center;
    font-size: 28px;
    margin: .5rem;
    grid-column: 1/1;
    grid-row: 1/3;
}
.checkout_pickupLocation p {
    grid-row: 2/3;
    grid-column: 2/2;
    padding: .5rem;
    white-space: nowrap;
}

.checkout_box iconify-icon  {
   font-size: 25px;
}
.checkout_details {
    margin: 0 1rem;
}
.checkout_detailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quickCheckout {
    border: 1px solid var(--fresh-yellow);
    color: var(--fresh-yellow);
    font-family: Lexend Deca;
    font-size: 17px;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
    width: fit-content;
    transition: all .2s ease-in-out;
}
.quickCheckout:hover {
    background-color: var(--fresh-yellow) ;
    color: #000000;
}

.checkout_paymentMethods {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.paymentMethod {
    cursor: pointer;
    width: 62px;
    text-align: center;
}
.paymentMethod {
    color: white;
    font-weight: 700;
}

.creditCard {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33.3% 33.3% 33.3%;
    background: linear-gradient(180deg, #9D1212 -3.27%, #FF5858 51.13%, #C32D2D 100%), #D9D9D9;
    border-radius: 12px;
    font-family: 'Lexend Deca';
    margin: 1rem auto;
    padding: .5rem 1rem 1rem;
    width: 264px;
    height: 153px;
    white-space: nowrap;
  }
  
  .creditCard_top, .creditCard_bottom {
    display: flex;
    align-items: center;
    grid-column: 1/3;
    justify-content: space-between;
  }
  
  .creditCard_top h2 {
    mix-blend-mode: overlay;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
  }
  .creditCard_top button {
    height: 30px;
  }
/* Pop Up Styles */
.paymentPopup {
    display: grid;
    border: 2px solid white;
    color: white;
    position: absolute;
    top: 150px;
    background-image: url(images/chalkboard-bg.png) ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 1rem;
    width: 350px;
    z-index: 500;
}
.paymentPopup h1 {
    white-space: nowrap;
}
.paymentPopup a {
    grid-row: 1/1;
    grid-column: 2/2;
    justify-self: end;
    font-size: 30px;
}
.paymentPopup button {
    justify-self: center;
    grid-row: 5/5;
    grid-column: 1/3;
    height: 50px;
    align-self: center;
}
.popupLabel {
    grid-column: 1/2;
    width: 360px;
}
.popupLabelsecurity {
    grid-column: 2/2;
    width: 170px;
}
.popupLabeldate {
    grid-column: 1/1;
}
.popupLabeldate input {
    width: 123px;
}
.popupLabelsecurity input {
    width: 123px;
}

/* Confirmation / Receipt Styles */

.confirmation_topDiv {
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}
.confirmation_topDiv iconify-icon {
    font-size: 68px;
}
.confirmation_pickupDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}
.confirmation_thankYou {
    font-family: Lexend Deca;
}
.confirmation_total {
    color: black;
}
.confirmation_Location {
    display: flex;
    align-items: center;
    text-align: left;
}
.confirmation_Location iconify-icon {
    font-size: 35px ;
}
.confirmation_Location p {
    width: 175px;
}

.reciept_item p{
    display: grid;
    padding: 0 2rem;
}

.reciept_item_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}
.receipt_item_description {
    padding: 0 2rem;
}
.checkout_total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
     font-family: 'Lexend Deca';
     font-weight: 700;
     font-size: 24px;
}
.receiptButtons {
    display: flex;
    justify-content: space-evenly;
}
.receiptButtons button{
    margin: 1rem;
}
/* sign in & sign up styles */

span {
    color: var(--fresh-yellow);
}

.signStyle {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    justify-items: center;
    color: white;
    margin: 4rem auto;
}
.goToSign {
    margin: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--fresh-yellow);
}
.signArrow {
    color: white;
    margin: 2rem 0;
    position: absolute;
    top: 15px;
}

label {
    margin: 1rem auto;
}
input {
    width: 300px;
    height: 38px;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    padding: 0 .5rem;
}
form div {
    margin: 1.5rem auto;
}

/* Progress Bar Styles */
.orderProgress {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 3rem 1rem 0rem;
}
.progressBar {
    border: 2px solid #FFFFFF;
    border-radius: 19.5px;
    width: 362px;
    height: 40px;
    margin: 0 auto;
}
.innerProgressBar {
    height: 40px;
    width: 20%;
    background-color: white;
    border-radius: 15px 0 0 15px ;
}
.reviewOrder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
}
.progressButton {
    position: absolute;
    top: 625px;
    left: 196px;
    width: 175px;
    z-index: 10;
}

/* Review Order Screen */
.review_orderInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto 1rem;
    text-align: center;
}
.review_orderInfo h2 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}
.orderPaid {
    border: 1px solid white;
    border-radius: 50%;
    height: 151px;
    width: 151px;
    padding: 1rem;
}
.orderPaid iconify-icon {
    font-size: 96px;
    margin-bottom: -1rem;
}
.orderPaid h3 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 23.619px;
}
.review_pickupDiv {
    color: white;
}
/* history styles */
.menu_item button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 130px;
    grid-column: 2/2;
    grid-row: 3/4;
}
.priceAdd {
    padding: .5rem;
}
.history_item {
    height: 150px;
}
.itemSpecial {
    background: #D55638;
    border: 3px solid #FFFFFF;
    border-radius: 13px;
    color: white;
}
.smallAlert {
    background-color: var(--fresh-yellow);
    border-radius: 13.5px;
    justify-self: end;
    padding: .4rem;
    margin: 0;
    width: fit-content;
}
.orderDate {
    color: white;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 1rem 2rem;
}
.sectionEnd {
    white-space: nowrap;
    margin: auto 1rem;
}
