:root {
    --fresh-yellow: #F4B029;
    --fresh-red:#D55638;
    --fresh-blue:#214962;
    --fresh-bluegrey:#3C4D4D;
    --fresh-grey:#333333;
}
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--fresh-grey);
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    font-family: Lexend Deca;
}
/* button styles */
button {
    border: none;
    border-radius: 30px;
    font-family: Lexend Deca;
    padding: .5rem;
    width: fit-content;
    transition: .2s ease-in;
}
.lightButton {
    color: var(--fresh-red);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.47);
    min-width: 152px;
}
.darkButton {
    color: white;
    background-color: var(--fresh-grey);
    min-width: 152px;
}
.activeButton {
    color: white;
    background-color: var(--fresh-red);
    min-width: 152px;
}

.borderButton {
    background-color: transparent;
    border: 3px solid #F4B029;
    border-radius: 25px;
    color: white;
}
/* ---------- General Elements -----------*/

.getCentered {
    display: flex;
    justify-content: center;
}

/* Menu Item Display */
.menu_item {
    cursor: pointer;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 30% 40% 30%;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 13px;
    width: 361px;
    height: 123px;
    margin: 1rem auto;
}
.menu_item img {
    grid-column: 1/1;
    grid-row: 1/4;
}

.menu_item div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Page Headers on Mobile */
.pageHeader{
    display: flex;
    align-items: center;
    background-color: var(--fresh-yellow);
    border-radius: 0px 0px 10px 10px;
    height: 127px;
    justify-content: center;
    margin-bottom: 2rem;
}
.backArrow {
    position: absolute;
    left: 8%;
    font-size: 34px;
}

/* Text Styles */
.homeHeader {
    font-family: Lexend Deca;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.homeEmphasis{
    font-family: Lexend Deca;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}
.home_p {
    font-family: Lexend Deca;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.ctaButton{
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.pageTitle {
    font-family: Lexend Deca;
    font-weight: 800;
    font-size: 24px;
}
.Subheading {
    color: var(--fresh-yellow);
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 1rem;
}
.itemTitle {
    font-family: Lexend Deca;
    font-size: 20px;
    font-weight: 800;
}
.itemListing {
font-family: Lexend Deca;
font-size: 16px;
font-weight: 700;
}
.description {
font-family: Lexend Deca;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.price {
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
}


/* Navigation, Referenced code: https://codepen.io/havardob/pen/RwWKaor?editors=1100 */
.menu {
    background-color: #333333;
    border-top: 8px solid white;
	display: flex;
	flex-grow: 1;
	height: 108px;
	width: 100%;
	overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
  }
  .nav-item:focus .material-icons, .nav-item:hover .material-icons {
    color: var(--fresh-yellow);
  }
  .menu-nav:focus .nav-item-label, .nav-item:hover .nav-item-label {
    color: var(--fresh-yellow);
  }

.material-icons {
	display: block;
	margin-bottom: 4px;
	font-size: 26px;
	color: white;
	transition: 0.25s ease;
}
.nav-item-label {
    font-family: Lexend Deca;
	display: block;
	font-size: 13px;
	color: white;
	transition: 0.25s ease;
}
.navAllowance{
    height: 108px;
}

.whiteDiv {
    border-top: 1px solid #FFFFFF;
    height: 2px;
}
.yellowDiv {
    border-top: 1px solid var(--fresh-yellow);
    height: 2px;
    margin: 1rem auto;
    width: 80%;
}
/* home screen styles */
.home_start {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding: 1rem;
    background-color: black;
}
.home_start button {
    position: absolute;
    width: 175px;
    left: 196px;
    top: 449px;
    z-index: 10;
}
.home_logo {
    align-self: center;
    z-index: 10;
}
.home_botmDiv { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 24% 35% 10%;
    background-color: var(--fresh-red);
    color: white;
    height: 393px;
    padding: 1rem;
    z-index: 5;
}
.home_botmDiv h3 {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-end;
}

.home_botmDiv img {
    grid-column: 1/1;
    grid-row: 2/4;
    justify-self: center;
}
.home_botmDiv button {
    grid-column: 2/2;
}
.home_wwdDiv{
    background-color: black;
    color:white;
    text-align: center;
    padding: 1rem;
    height: 450px;
}
.home_wwdDiv h1 {
    font-family: 'Permanent Marker', cursive;
    margin: 0rem;
}
.bubble::after {
    content:'';
    border-radius: 0% 0% 100% 100%;
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 15%;
    width:100%;
    background-color: black;
    z-index: 5 ;
}

/* Menu styles */
.menu_QuickScroll {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
}
.menu_QuickScroll a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_QuickScroll span {
    background-color: var(--fresh-red);
    border-radius: 34px;
    color: white;
    padding: .5rem;
    text-align: center;
    width: 78px;
}
.scrollIcon {
    display: block;
	margin-bottom: 4px;
	font-size: 26px;
	transition: 0.25s ease
}
/* Customization Screen */
.customize_itemDisplay {
    display: grid;
    justify-items: center;
    overflow: hidden;
}
.toppingCarousel {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 margin: 2rem;
 overflow: hidden;
}
.topping {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 5px solid #D55638;
    border-radius: 50px;
    padding: 1rem;
    height: 50px;
    width: 50px;
    margin: .2rem;
}
.topping img {
    width: 55px;
}
.customize_productDescription{
    margin: auto auto 2rem;
    color: white;
}
.customize_price {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--fresh-red);
    width: 100%;
    height: 105px;
}
.customize_price button {
    width: 154px;
    height: 45px;
}
.customize_price p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
/* Cart Styles */
.cart_totalDiv {
    display: flex;
    flex-direction: column;
}
.cart_totalDiv button {
    align-self: end;
    margin: 0 1rem;
}
.cart_total {
   color: #FFFFFF;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 2rem;
    font-family: 'Lexend Deca';
    font-weight: 700;
    font-size: 24px;
}
.cart_quickAdd {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem;
}
.quickAddBlock {
    display: grid;
    align-items: center;
    justify-items: center;
    background: #FFFFFF;
    border-radius: 15px;
    width: 165px;
    margin: 1rem;
}
.quickAddBlock img {
    grid-column: 1/3;
    margin: .5rem;
}
.quickAddBlock iconify-icon{
    font-size: 20px;
 }
.quickAddBlock p, iconify-icon{
   grid-row: 2/2;
}
.payButton {
    margin: .5rem 0 2rem;
}
