:root{
    --black: #000000;
    --white: #FFFFFF;
    --grey: #333333;
    --bluegrey: #3C4D4D;
    --medgrey: #9EA3A3;
    --lightgrey: #EEEEEE;
    --blue: #214962;
    --red: #D55638;
    --yellow: #F4B029;

    --background-color: var(--black);
    --text-color: var(--black);
    --heading-color: var(--white);
}

@font-face{
    font-family: 'Lemon Milk';
    src: url("../fonts/lemon_milk/LEMONMILK-Bold.woff2") format('woff2');
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Avenir';
    src: url("../fonts/avenir/AvenirLTStd-Roman.woff2") format("woff2");
}
@font-face {
    font-family: 'Walter';
    src: url("../fonts/walter_turncoat/WalterTurncoat-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Lexend Deca';
    src: url("../fonts/lexend_deca/LexendDeca-VariableFont_wght.woff2") format("woff2");
}
@font-face {
    font-family: 'Permanent Marker';
    src: url("../fonts/permanent_marker/PermanentMarker-Regular.woff2") format("woff2");
}

html, body{
    padding: 0;
    margin: 0;
}

.main_container{
    /* background-color: var(--background-color); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    margin: 0;
}

h2{
    font-weight: 300;
}

h3{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 300;
}

p{
    color: var(--text-color);
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
}

footer{
    align-items: center;
    background-color: var(--background-color);
    border: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
}

.background-image{
    z-index: -1;
    position: fixed;
    width: 105%;
    height: 100%;
    left: -5px;
    top: 0px;
    object-fit: cover;
}

/* Table Styles */
.table-container{
    overflow-x: auto;
    padding: 20px 30px;
}

.admin-buttons{
    column-gap: 40px;
    display: flex;
}

.table-container{
    overflow-x: auto;
    padding: 20px 30px;
}

table{
    width: 100%;
}

th{
    padding: 10px 15px;
}

td{
    padding: 10px 15px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button{
    border-style: none;
    border-radius: 35px;
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 15px 22px;
    text-decoration: none;
    text-align: center;
}

/* Home Page Styles */
.home_header{
    background-image: linear-gradient(to bottom,rgba(255,0,0,0), rgba(0,0,0,1));
    /* border-radius: 0px 0px 500px 500px; */
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: 458px;
}

.burger_background{
    align-self: flex-start;
    object-fit: cover;
    position: absolute;
    width: 100%;
    max-height: 458px;
    z-index: -1;
}

.start_order_button{
    align-self: flex-end;
    background-color: var(--white);
    color: var(--red);
    margin: 0px 0px 70px 230px;
}
.start_order_button:hover{
    background-color: var(--red);
    color: var(--white);
}

.burger_of_the_month{
    background-color: var(--red);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0px;
}

.burger_of_the_month_title{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0px 0px 16px 0px;
    text-align: center;
}

.burger_of_the_month_content{
    display: flex;
    flex-direction: row;
}

.burger_of_the_month_text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.burger_of_the_month_name{
    color: var(--white);
    font-family: 'Permanent Marker', 'Lemon Milk', Arial, Helvetica, sans-serif;;
    font-size: 2.5rem;
}

.burger_of_the_month_description{
    color: var(--white);
}

.order_now_button{
    background-color: var(--grey);
    color: var(--white);
}
.order_now_button:hover{
    background-color: var(--white);
    color: var(--grey);
}

.what_we_do{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 100px 20px;
    row-gap: 16px;
}

.what_we_do_title{
    color: var(--white);
    font-family: 'Permanent Marker', 'Lemon Milk', Arial, Helvetica, sans-serif;;
    font-size: 1.125rem;
}

.what_we_do_subtitle{
    color: var(--yellow);
    font-family: 'Permanent Marker', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
}
.what_we_do_description{
    color: var(--white);
    text-align: center;
}

.hours{
    color: var(--white);
    font-weight: 800;
    text-align: center;
}

.locations_button{
    background-color: var(--white);
    color: var(--black);
}
.locations_button:hover{
    background-color: var(--black);
    color: var(--white);
}

/* MENU PAGE STYLES */
.menu_header{
    color: var(--white);
    padding: 60px 0px 30px 0px;
    text-align: center;
}

.menu_title{
    font-family:'Permanent Marker', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.menu_category{
    display: flex;
    flex-direction: column;
    padding: 11px 0px 11px 0px;
    row-gap: 20px;
}

.category_title{
    color: var(--yellow);
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
}

.menu_container{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 60px 0px;
}

/* Menu Item Styles */
.menu_item_container{
    align-items: center;
    background-color: var(--white);
    border: 1px black solid;
    border-radius: 13px;
    display: flex;
    column-gap: 22px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 12px;
    width: 361px;
    min-height: 123px;
}

.menu_item_title{
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 0px 0px 5px 0px;
    text-align: left;
}

.menu_item_description{
    font-size: .875rem;
    margin: 0;
    padding: 0px 0px 5px 0px;
    text-align: left;
    width: 230px;
}

.menu_item_price{
    font-size: .93rem;
    font-weight: bold;
    margin: 0;
    padding: 0px 0px 0px 0px;
    text-align: right;
}

.menu_item_link{
    text-decoration: none;
}

/* CUSTOMIZE PAGE */
.order_header{
    align-items: center;
    background-color: var(--yellow);
    display: flex;
    height: 43px;
    justify-content: center;
    width: 100%;
}

.order_title{
    color: var(--black);
    font-family: 'Permanent Marker', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.order_price{
    color: var(--white);
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.top_nav{
    align-items: center;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
    padding: 30px 15px;
}

.top_nav_title{
    color: var(--white);
    font-family: 'Permanent Marker', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    text-align: center;
}

.order_footer{
    align-items: center;
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
    padding: 45px 35px;
}

.add_cart_button{
    background-color: var(--grey);
    color: var(--white);
}

.add_cart_button:hover{
    background-color: var(--white);
    color: var(--grey);
}

.order_item_info{
    align-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 10px;
    padding: 30px 15px;
    max-width: 400px;
}

.info_text{
    color: var(--white);
}
/* Login Page */
.login_container{
    align-items: center;
    align-self: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.login__title{
    font-family: "Permanent Marker", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: 125px 0px 0px 0px;
}

.login_subtitle{
    font-size: 1rem;
    margin: 48px 0px;
}

.signup_link{
    color: var(--yellow);
}

.signup_link:hover{
    color: var(--yellow);
    text-decoration: none;
}

.login_form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.login_label{
    color: var(--white);
}

.login_input{
    background-color: var(--lightgrey);
    border: none;
    border-radius: 5px;
    height: 38px;
    margin: 5px 0px;
    width: 300px;
}

.login_button{
    align-self: center;
}

.login_submit{
    background-color: var(--medgrey);
    border: none;
    border-radius: 35px;
    color: var(--white);
    font-size: 1.25rem;
    height: 50px;
    margin: 70px 0px 0px 0px;
    width: 198px;
}

.navbar{
    align-items: center;
    background-color: var(--grey);
    column-gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 108px;
}
.navbar-nav{
    align-items: center;
    display: flex;
    column-gap: 32px;
    flex-direction: row;
    justify-content: center;
}
.nav-item{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.nav-icon{
    padding: 0;
}
.nav-link{
    color: var(--white);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    padding: 0;
}
.nav-link:hover{
    color: var(--yellow);
    text-decoration: none;
}
.nav-link:active{
    color: var(--yellow);
}
.navbar-container{
    position: sticky;
    bottom: 0;
    background-color: var(--grey);
    border-top: 8px solid var(--grey);
    width: 100%;
    height: 108px;
    z-index: 100;
}
/* NAVBAR FROM CODEPEN */
.nav-nav-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	display: flex;
	flex-grow: 1;
	height: 72px;
	max-width: 370px;
	overflow: hidden;
	background-color: #333333;
}

.menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	text-decoration: none;
}

.material-icons {
	display: block;
	margin-bottom: 4px;
	font-size: 26px;
	color: white;
	transition: 0.25s ease;
}

.menu-item-label {
	display: block;
	font-size: 13px;
	color: white;
	transition: 0.25s ease;
}

.nav-bar-bkgrd {
	position: absolute;
	margin: 0px auto 80px auto;
	background-color: #333333;
	width: 370px;
	height: 8px;
}
.nav-bar-ind {
	position: absolute;
	height: 8px;
	margin-bottom: 80px;
	/* margin-right: 277.5px; */
	width: 92.5px;
	height: 8px;
	transition: 0.2s ease-in-out;
	background-color: #f4b029;
}

.pos-1 {
	margin-right: 277.5px;
}
.pos-2 {
	margin-right: 102px;
}
.pos-3 {
	margin-right: -75px;
}
.pos-4 {
	margin-right: -270px;
}

/* Topping Styles */
.toppings_container{
    align-self: center;
    border: 3px solid var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    max-width: 770px;
    padding: 25px 15px;
}

.toppings_container_title ,.temperature_container_title{
    color: var(--white);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 35px 0;
    text-align: left;
}

.toppings_images{
    align-items: start;
    display: grid;
    column-gap: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 44px;
}

.toppings_image{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
}

.toppings_image--img{
    background-color: var(--white);
    border: 3px solid var(--red);
    border-radius: 50px;
    height: 80px;
    width: 80px;
}
.toppings_image--img:hover{
    background-color: var(--red);
    cursor: pointer;
}

.toppings_title, .toppings_price{
    color: var(--white);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

.added_toppings_container{
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;
    margin: 0 0 0 -40px;
    padding: 0px 15px;
}

.added_topping{
    align-self: center;
    align-items: center;
    display: grid;
    column-gap: 22px;
    grid-template-columns: 15% 70% 15%;
    width: 70%;
}

.added_topping_info{
    align-items: center;
    column-gap: 43px;
    display: flex;
}

.added_topping_img{
    display: flex;
}
.added_topping--img{
    background-color: var(--red);
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

.value-label{
    background-color: var(--white);
    border: 1px solid var(--red);
    border-radius: 50px;
    color: var(--black);
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    height: 25px;
    width: 25px;
    margin: -5px 0px 0px -15px;
    padding: 5px 9px;
    z-index: 4;
}

.added_topping_title{
    color: var(--white);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;
}

.math_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 10px;
    height: 8px;
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 100px;
}
.minus{
    justify-self: start;
}

.plus{
    justify-self: end;
}
.math_btn:hover{
    cursor: pointer;
}

.plus-text, .minus-text{
    color: var(--black);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: -2px 0 0 0;
}

.selected{
    background-color: var(--red);
    border: 3px solid var(--black);
}

.hide{
    display: none;
}

/* Temperature Styles */
.temperature_container{
    align-self: center;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 25px 15px;
}
.temperature_container_title{
    margin: 0;
}
.temperature_images{
    align-self: center;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
}
.temperature_image{
    align-items: center;
    border: 3px solid var(--yellow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 90px;
    justify-content: center;
    padding: 12px 8px;
    row-gap: 10px;
    width: 100px;
}
.temperature_title{
    color: var(--yellow);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 500;
}

.temperature_selected{
    color: var(--white);
    background-color: var(--medgrey);
    border-color: var(--yellow);
}

/* CART PAGE */
.cart_form_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 15px;
    max-width: 100vw;
}
.cart_form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.subtotal_container{
    align-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 15px;
    width: 100%;
}
.subtotal_title, .subtotal_price{
    color: var(--white);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
    justify-self: start;
}
.subtotal_price{
    color: var(--white);
    font-family: "Lexend Deca", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right;
    justify-self: end;
}

.yellow_line{
    background-color: var(--yellow);
    color: var(--yellow);
    height: 1px;
    width: 90vw;
    margin: 20px 0;
}

.checkout_button{
    background-color: var(--red);
    color: var(--white);
}
.checkout_button:hover{
    background-color: var(--white);
    color: var(--red);
}

/* CART ITEM STYLES */
.cart_items_container{
    align-self: center;
    align-items: center;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart_item_container{
    display: flex;
}

.cart_item_cancel{
    background-color: var(--white);
    border: 3px solid var(--red);
    border-radius: 50px;
    height: 30px;
    margin: -10px 0px 0px -13px;
    padding: 5px 9px;
    width: 30px;
    z-index: 5;
}
.cart_item_cancel:hover{
    cursor: pointer;
}
.cart_item_cancel--text{
    color: var(--red);
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    margin: -1px 0 0 -1px;
}

.cart_item_options{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.cart_item_quantity_container{
    align-items: center;
    border: 1.5px solid var(--black);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 3px 8px;
    width: 70px;
}
.cart_item_quantity--text{
    color: var(--black);
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}
.cart_item_price{
    font-size: 1.15rem;
}

.cart_item_minus:hover{
    cursor: pointer;
}

.cart_item_plus:hover{
    cursor: pointer;
}