:root{
    --black: #000000;
    --white: #FFFFFF;
    --grey: #333333;
    --bluegrey: #3C4D4D;
    --medgrey: #9EA3A3;
    --lightgrey: #EEEEEE;
    --blue: #214962;
    --red: #D55638;
    --yellow: #F4B029;

    --background-color: var(--black);
    --text-color: var(--black);
    --heading-color: var(--white);
}

@font-face{
    font-family: 'Lemon Milk';
    src: url("../fonts/lemon_milk/LEMONMILK-Bold.woff2") format('woff2');
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Avenir';
    src: url("../fonts/avenir/AvenirLTStd-Roman.woff2") format("woff2");
}
@font-face {
    font-family: 'Walter';
    src: url("../fonts/walter_turncoat/WalterTurncoat-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Lexend Deca';
    src: url("../fonts/lexend_deca/LexendDeca-VariableFont_wght.woff2") format("woff2");
}
@font-face {
    font-family: 'Permanent Marker';
    src: url("../fonts/permanent_marker/PermanentMarker-Regular.woff2") format("woff2");
}

html, body{
    padding: 0;
    margin: 0;
}

.main_container{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lexend Deca', 'Lemon Milk', Arial, Helvetica, sans-serif;
    margin: 0;
}

h2{
    font-weight: 300;
}

h3{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 300;
}

p{
    color: var(--text-color);
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    margin: 0;
}

footer{
    align-items: center;
    background-color: var(--background-color);
    border: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
}

/* Table Styles */
.table-container{
    overflow-x: auto;
    padding: 20px 30px;
}

.admin-buttons{
    column-gap: 40px;
    display: flex;
}

.table-container{
    overflow-x: auto;
    padding: 20px 30px;
}

table{
    width: 100%;
}

th{
    padding: 10px 15px;
}

td{
    padding: 10px 15px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Menu Item Styles */
.menu_item_container{
    align-items: center;
    background-color: var(--white);
    border: 1px black solid;
    border-radius: 13px;
    display: flex;
    column-gap: 22px;
    flex-direction: row;
    justify-content: center;
    padding: 15px 12px;
    width: 361px;
    min-height: 123px;
}

.menu_item_title{
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 0px 0px 5px 0px;
    text-align: left;
}

.menu_item_description{
    font-size: .875rem;
    margin: 0;
    padding: 0px 0px 5px 0px;
    text-align: left;
}

.menu_item_price{
    font-size: .93rem;
    font-weight: bold;
    margin: 0;
    padding: 0px 0px 0px 0px;
    text-align: right;
}

/* Login Page */
.login_container{
    align-items: center;
    align-self: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__title{
    font-family: "Permanent Marker", "Lemon Milk", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: 125px 0px 0px 0px;
}

.login_subtitle{
    font-size: 1rem;
    margin: 48px 0px;
}

.signup_link{
    color: var(--yellow);
}

.signup_link:hover{
    color: var(--yellow);
    text-decoration: none;
}

.login_form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.login_label{
    color: var(--white);
}

.login_input{
    background-color: var(--lightgrey);
    border: none;
    border-radius: 5px;
    height: 38px;
    margin: 5px 0px;
    width: 300px;
}

.login_button{
    align-self: center;
}

.login_submit{
    background-color: var(--medgrey);
    border: none;
    border-radius: 35px;
    color: var(--white);
    font-size: 1.25rem;
    height: 50px;
    margin: 70px 0px 0px 0px;
    width: 198px;
}